.table-view{
    -fx-background-color:#00FFFF;
    -fx-padding:0.0px;
    -fx-border-color:#A9A9A9;
    -fx-border-width:2.0px;
    -fx-border-radius:8.0px;
}
.table-view .table-column{
    -fx-alignment: CENTER;
}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-background-inset: 0.0 0.0 0.0 0.0;
    -fx-border-color:#A9A9A9;
}
.table-view .column-header, .filter{
    -fx-background-color:#FFFFFF;
    -fx-size:40.0px;
    
}
.table-view .column-header .label{
    -fx-text-fill:#000000;
    -fx-font-family:"Arial";
}

.textfield{
    -fx-background-color:transparent;
    -fx-background-radius:4.0px;
    -fx-border-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-border-width:0.8px;
    -fx-font-family:"Tahoma";
    -fx-border-radius:4.0px;
}
