
.btnSearch
{
-fx-background-color :  #FFFAFA;
-fx-background-radius :  8px;
}
.btnSearch:hover
{
-fx-background-color : #847d7d;
-fx-background-radius :  8px;
-fx-cursor: HAND; 
}

.af{
	-fx-backgoround-color:transparent;
}
.choose{
	
	-fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-border-radius:8px;
    -fx-font-size:14px;
    -fx-padding:0px 0px 0px 28px;
}

.table-view{
    -fx-background-color:transparent;
    -fx-padding:0px;
    -fx-border-width:2px;
    -fx-border-color:#C0C0C0;
}
.table-view .table-column{
    -fx-alignment: CENTER;
    -fx-text-fill:#000000;
}
.table-view .column-header-background{
	
    -fx-background-color:#FFFAFA;
    -fx-background-inset: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color:transparent;
    -fx-size:40px;
    
}
.table-view .column-header .label{
    -fx-text-fill:	#000000;
    -fx-font-family:"Arial";
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}


